.display {
  height: 6.5em;
  width: 24em;
  background-color: $yellow;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 0 0 3px $black;
  padding: 0.5em;
  margin-bottom: 10px;
}

.data-container {
  display: flex;
  flex-wrap: wrap;
  width: 16em;
  height: 6.5em;
  margin: 0px;
  float: left;
}

.data-item {
  color: $black;
  font-weight: bold;
  font-size: 1.6em;
  width: 4.8em;
}

.digit {
  font-family: "Orbitron", sans-serif;
  font-size: 0.9em;
}

.starting-beat {
  float: left;
  font-size: 4em;
  margin-left: 5px;
}

.display-line {
  background-color: $black;
  width: 0.18em;
}

.highlight-button {
  background-color: $pink;
  color: $white;
}

.data-item.meshuggah-calc {
  width: 4.2em;
}

.data-container.meshuggah-calc {
  width: 14em;
}

.meshuggah-result {
  font-size: 20px;
  margin-bottom: 13px;
}

span.digit-meshuggah {
  font-family: "Orbitron", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
