.button {
  display: flex;
  width: 1.2em;
  height: 1.5em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  background-color: $black;
  color: $white;
  border-radius: 50%;
  margin: 10px;
  padding: 0;
}

.button:hover {
  background-color: $pink;
}

.number-buttons-container {
  width: 13em;
  margin: 0px;
  float: left;
}

.calculator {
  display: flex;
  margin: 20px 0 40px 40px;
}

.row {
  display: flex;
  width: 100%;
}

.select-button {
  font-size: 1.5em;
  color: $black;
  background-color: $yellow;
  border-radius: 20px;
  box-shadow: 0 0 0 2px $black;
}

.button.clear-button.meshuggah-calc {
  width: 357px;
  border-radius: 30px;
}

.select-button.meshuggah {
background-color: $blue;
}

.select-button.meshuggah:hover {
  background-color: $pink;
}