.go-button {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  margin-top: 7px;
  color: $black;
  transition: color 0.25s ease-out;
}

.go-button:hover {
  color: $yellow;
}

.go-button-container {
  margin-left: 80px;
  margin-top: 50px;
  background-color: $pink;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 4px $black;
  transition: box-shadow 0.25s ease-out;
  float: left;
}

.go-button-container:hover {
  box-shadow: 0 0 0 4px $yellow;
}
