.instructions-container {
  margin-top: 230px;
  margin-left: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px;
  border-radius: 20px;
  color: $white;
  width: 400px;
  height: 330px;
}

.instructions-header {
  text-align: center;
  font-family: 'Kalam', cursive;
  font-size: 35px;
}

.instructions-body {
  margin-left: 15px;
  font-family: 'Kalam', cursive;
  font-size: 20px;
}