.top-bar {
  font-size: 1.6em;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  color: $pink;
  font-family: 'Kalam', cursive;
}

a {
  color: $green;
  transition: .2s ease-out;
}

a:visited {
  color: $green;
}

a:hover {
  color: scale-color($pink, $lightness: -20%)
}

a.home-link {
  color: $pink;
}

.menu-text {
  margin-left: 20px;
}

.menu .menu-text {
  font-weight: 400;
}

li.menu-text {
  display: contents;
}