.videos-container {
  margin-top: 15px;
}

.videos-header {
  color: $pink;
  font-family: "Kalam", cursive;
  text-align: center;
}

.video {
  width: 50%;
  margin-left: 270px;
  margin-bottom: 25px;
}
