@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

$white: #ececec;
$grey: #a7a7a7;
$dark-grey: #646464;
$black: #080407;
$green: #239423;
$yellow: #cfdb22;
$pink: #da346e;

@import "./topBar";
@import "./calcButtons";
@import "./calcDisplay";
@import "./rhythmicUnit";
@import "./subdivisionDisplay";
@import "./goButton";
@import "./clearButton";

body {
  background-image: url("../images/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20px;
  font-family: "Neucha", cursive;
}

.landing-page {
  display: flex;
  flex-wrap: wrap;
}

.calc-container {
  background-color: $white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 4.5px 3px $grey;
}
