.rhythmic-unit {
  background-color: $white;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 1px 7px;
  margin-bottom: 7px;
  transition: background-color 0.25s ease-out;
}

.rhythmic-unit.tihai {
  width: 65px;
  height: 45px;
  text-align: center;
  display: inherit;
  margin: 9px 5px;
  font-size: 17px;
  font-weight: bold;
}

.rhythmic-unit:hover {
  cursor: pointer;
  background-color: $pink;
}

.rhythmic-unit-container {
  display: flex;
  flex-wrap: wrap;
  width: 10em;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  background-color: $black;
  border-radius: 30px;
}

.quarter,
.eighth,
.tuplets,
.sixteenth {
  width: 40%;
}

.quintuplets,
.sextuplets,
.septuplets,
.thirty-second {
  width: 75%;
}

.quarter,
.tuplets {
  margin-right: 10px;
}

.quarter,
.eighth {
  margin-top: 10px;
}

.rhythmic-unit.grey-out {
  background-color: $dark-grey;
  cursor: not-allowed;
}
