@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

$white: #ececec;
$grey: #a7a7a7;
$dark-grey: #646464;
$black: #080407;
$green: #239423;
$yellow: #cfdb22;
$pink: #da346e;
$red: #ff0000;
$blue: #86b7ee;

@import "./topBar";
@import "./calcButtons";
@import "./calcDisplay";
@import "./rhythmicUnit";
@import "./subdivisionDisplay";
@import "./goButton";
@import "./instructions";
@import "./aboutUs";
@import "./whatIsTihai";

body {
  background-image: url("/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  font-family: "Neucha", cursive;
}

.landing-page {
  display: flex;
  flex-wrap: wrap;
}

.calc-container {
  background-color: $white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 3px 3px rgba(41, 41, 41, 0.8);
}

body {
  zoom: 0.9;
}
